In [35]:
from pyspark.sql.functions import *
from pyspark.sql import SparkSession

In [36]:
home_work04 = (SparkSession.builder.master("Data_603").appName("HW04").getOrCreate())

In [55]:
df = spark.read.csv('Part1_Crime_data.csv', header=True,inferSchema=True)

In [56]:
df.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: string (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [48]:
df.schema

StructType(List(StructField(X,DoubleType,true),StructField(Y,DoubleType,true),StructField(RowID,IntegerType,true),StructField(CrimeDateTime,StringType,true),StructField(CrimeCode,StringType,true),StructField(Location,StringType,true),StructField(Description,StringType,true),StructField(Inside_Outside,StringType,true),StructField(Weapon,StringType,true),StructField(Post,StringType,true),StructField(District,StringType,true),StructField(Neighborhood,StringType,true),StructField(Latitude,DoubleType,true),StructField(Longitude,DoubleType,true),StructField(GeoLocation,StringType,true),StructField(Premise,StringType,true),StructField(VRIName,StringType,true),StructField(Total_Incidents,IntegerType,true),StructField(Shape,StringType,true)))

In [76]:
df1 = spark.read.csv('Part1_Crime_data.csv', header=True, inferSchema=True, timestampFormat='yyyy/MM/dd HH:mm:ssX')

In [78]:
df1.printSchema()

root
 |-- X: double (nullable = true)
 |-- Y: double (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: timestamp (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- Total_Incidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [79]:
df1.cache()

DataFrame[X: double, Y: double, RowID: int, CrimeDateTime: timestamp, CrimeCode: string, Location: string, Description: string, Inside_Outside: string, Weapon: string, Post: string, District: string, Neighborhood: string, Latitude: double, Longitude: double, GeoLocation: string, Premise: string, VRIName: string, Total_Incidents: int, Shape: string]

In [80]:
df1.count()

513756

In [91]:
df1.show(5)

+----------------+----------------+-----+-------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|               X|               Y|RowID|      CrimeDateTime|CrimeCode|          Location|         Description|Inside_Outside| Weapon|Post| District|  Neighborhood|Latitude|Longitude|       GeoLocation|Premise|VRIName|Total_Incidents|Shape|
+----------------+----------------+-----+-------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
|1428019.10487147|589532.731060804|    1|2022-03-05 03:43:00|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    2|2022-03-05 03:43:00|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1428019.10487147|589532.731060804|    3|2022-03-05 03:43:00|      3NF|     1800 FLEET ST|    ROBBERY - STREET|          null|FIREARM| 213|SOUTHEAST|   FELLS POINT| 39.2847| -76.5913|(39.2847,-76.5913)|   null|   null|              1| null|
|1423024.46477252| 572683.29122287|    4|2022-03-05 04:30:00|      3CF|100 E PATAPSCO AVE|ROBBERY - COMMERCIAL|          null|FIREARM| 913| SOUTHERN|      BROOKLYN| 39.2385| -76.6092|(39.2385,-76.6092)|   null|   null|              1| null|
|1400632.37017858|593904.722108476|    5|2022-03-05 01:30:00|      3AF|     RD & KEVIN RD|    ROBBERY - STREET|          null|FIREARM| 822|SOUTHWEST|ROGNEL HEIGHTS|  39.297|  -76.688|  (39.297,-76.688)|   null|   null|              1| null|
+----------------+----------------+-----+-------------------+---------+------------------+--------------------+--------------+-------+----+---------+--------------+--------+---------+------------------+-------+-------+---------------+-----+
only showing top 5 rows

In [98]:
df1.select('CrimeCode').distinct().sort('CrimeCode').show()

+---------+
|CrimeCode|
+---------+
|       1A|
|       1K|
|       1O|
|       2A|
|       2B|
|      3AF|
|     3AJF|
|     3AJK|
|     3AJO|
|      3AK|
|      3AO|
|       3B|
|      3BJ|
|       3C|
|      3CF|
|      3CK|
|      3CO|
|       3D|
|       3E|
|      3EF|
+---------+
only showing top 20 rows

In [94]:
df1.groupBy('CrimeCode').count().sort('count',ascending=False).show()

+---------+-----+
|CrimeCode|count|
+---------+-----+
|       4E|91822|
|       6D|68508|
|       5A|43956|
|       7A|40308|
|       6J|27670|
|       6G|26898|
|       6E|24310|
|       6C|23269|
|       4C|22455|
|       5D|14971|
|      3AF|14760|
|       4B|14501|
|       4A|13240|
|       3B|10735|
|       4D| 7222|
|       5B| 6481|
|       9S| 5452|
|       6F| 5058|
|       5C| 4917|
|       6B| 4106|
+---------+-----+
only showing top 20 rows

In [93]:
df1.groupBy('Neighborhood').count().sort('count',ascending=False).show()

+--------------------+-----+
|        Neighborhood|count|
+--------------------+-----+
|            DOWNTOWN|17818|
|           FRANKFORD|12062|
|       BELAIR-EDISON|10895|
|            BROOKLYN| 9043|
|              CANTON| 7548|
| SANDTOWN-WINCHESTER| 7430|
|         CHERRY HILL| 7407|
|               UPTON| 6510|
|        MOUNT VERNON| 6160|
|         FELLS POINT| 6015|
|        INNER HARBOR| 5990|
|PATTERSON PARK NE...| 5988|
|WASHINGTON VILLAG...| 5940|
|      HAMILTON HILLS| 5917|
|COLDSTREAM HOMEST...| 5819|
|           MONDAWMIN| 5761|
|      MCELDERRY PARK| 5676|
|CENTRAL PARK HEIGHTS| 5258|
|    CARROLLTON RIDGE| 5034|
|       BROADWAY EAST| 5004|
+--------------------+-----+
only showing top 20 rows

In [130]:
df1.groupby(month(df1.CrimeDateTime)).count().sort('count',ascending=False).select('month(CrimeDateTime)', 'count').show()

+--------------------+-----+
|month(CrimeDateTime)|count|
+--------------------+-----+
|                   8|46322|
|                  10|46207|
|                   7|45982|
|                   5|45035|
|                   6|44989|
|                   9|44827|
|                   1|42225|
|                  11|42022|
|                  12|41593|
|                   4|40012|
|                   3|39002|
|                   2|35540|
+--------------------+-----+

In [129]:
df1.groupBy('Weapon').count().sort('count',ascending=False).show()

+-------+------+
| Weapon| count|
+-------+------+
|     NA|408269|
|FIREARM| 46217|
|  OTHER| 30293|
|  KNIFE| 19181|
|  HANDS|  7222|
|   FIRE|  2348|
|   null|   226|
+-------+------+

 NA,OTHER and NULL are not weapons. So, we have four different types            of weapons
# 1.FIREARM
# 2.KNIFE
# 3.HANDS
# 4.FIRE

# FIREARM is most used weapon.