<a href="https://colab.research.google.com/github/Sukesh-bitragunta/Homework/blob/main/Assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
import random
for i in range (0,10):
    for i in range (0,10):
        print(random.randint(0,9),end=" ")
    print('')

1 7 3 7 9 8 7 0 1 7
5 6 3 5 1 9 6 0 0 4
3 4 4 7 6 0 8 3 2 5
4 5 0 7 9 9 9 7 3 7
3 0 7 4 6 1 8 1 1 7
0 5 8 1 9 6 6 7 4 5
3 9 9 9 0 6 1 8 5 6
0 8 2 2 4 9 8 2 3 6
2 9 2 3 4 5 1 5 7 6
1 9 0 3 8 6 2 2 4 1

In [2]:
#2
for i in range (0,10):
    for s in range (0,10):
        N=random.randint(0,9)
        if N%2==0:
            print(N,end=' ')
        else:
            print('@',end=' ')
    print('')

4 @ 6 @ 6 @ 8 @ @ @
0 @ @ 0 0 4 @ 8 @ 0
2 @ @ @ @ 8 8 4 2 @
0 @ @ @ @ @ @ 8 0 4
@ @ @ @ @ 8 2 @ 0 @
2 @ @ 4 6 6 6 0 2 @
4 8 8 @ 8 4 0 4 4 2
@ 4 0 0 4 4 @ @ 6 8
@ @ @ 8 @ @ @ 2 @ 6
8 @ 0 @ 4 @ 6 0 @ 8

In [3]:
#3
for i in range (0,10):
    Sum=0
    for s in range (0,10):
        N=random.randint(0,9)
        Sum=Sum+N
        print(N,end=' ')
    print('*',Sum,end=' ')
    print(' ')

1 6 8 5 4 8 0 7 9 8 * 56
7 0 2 8 1 9 5 8 7 0 * 47
7 7 4 3 7 5 1 8 7 9 * 58
5 2 1 0 1 1 0 8 4 6 * 28
0 1 2 2 5 9 8 1 5 6 * 39
5 0 0 1 5 4 4 9 9 5 * 42
5 2 5 7 9 7 4 1 3 1 * 44
3 3 4 7 2 6 0 1 5 6 * 37
8 0 7 7 4 2 7 3 8 7 * 53
0 4 0 1 9 4 9 1 1 9 * 38

In [4]:
#4
for k in range (0,23):
    print('*',end='')
print('')
for i in range (0,10):
    Sum=0
    print('*',end='')
    for s in range (0,10):
        N=random.randint(0,9)
        Sum=Sum+N
        print('',N,end='')
    
    print(' *',end='')
    print('')
for l in range (0,23):
    print('*',end='')

***********************
* 6 0 5 8 5 7 9 2 9 6 *
* 8 9 8 7 3 3 1 3 4 9 *
* 4 7 3 4 8 4 3 0 7 0 *
* 9 5 0 0 5 1 0 2 3 2 *
* 4 7 3 0 5 3 1 6 4 8 *
* 1 0 6 5 2 2 2 0 3 7 *
* 1 4 0 5 7 9 7 3 0 2 *
* 6 3 6 3 1 8 6 1 6 0 *
* 5 6 5 4 1 3 1 4 7 0 *
* 3 1 1 4 3 2 8 7 3 3 *
***********************

In [9]:
#5
column_sum = [0]*10
row_value = 0
for i in range(10):
    row_value = 0
    for j in range(10):
        value = random.randint(0,9)
        row_value=row_value+value
        column_sum[j] = column_sum[j] + value
        print(value, end="  ") 
    print("*",end=" ")
    print(row_value,end="  ")
    print("\n")
for i in range(10):
    print("*",end="  ")
i = 0
print("\n")
while i<=9:
    print(column_sum[i],end=" ")
    i= i+1

6  7  6  3  0  0  7  9  8  3  * 49

1  7  6  2  8  9  6  3  5  7  * 54

5  5  7  0  6  3  8  0  5  4  * 43

6  8  8  1  2  5  6  1  2  9  * 48

9  7  6  9  8  5  9  9  8  4  * 74

4  8  3  8  6  7  4  4  0  1  * 45

6  3  2  2  1  6  1  5  1  7  * 34

4  3  5  4  4  7  0  9  3  2  * 41

0  6  5  7  2  6  8  3  2  6  * 45

2  9  8  7  4  0  2  9  2  7  * 50

*  *  *  *  *  *  *  *  *  *

43 63 56 43 41 48 51 52 36 50